html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
}


/* Header */
.header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg);
  background-size: cover;
  height: 800px;
  text-align: center;
}

.header .container {
	position: relative;
	top: 200px;
}

.header h1 {
  color: white;

	font-size: 80px;
	line-height: 100px;
	margin-top: 0;
	margin-bottom: 80px;
}

@media (min-width:850px) {
	.header h1 {
		font-size: 120px;
	}
}

.header p {
  color: white;

	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
}

.btn {
  color: white;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	text-decoration: none;

  transition: background .5s;
}

/* Nav */
.nav {
  background-color: black;

}

.nav ul {
  height: 80px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.nav ul li {
  color: white;
	display: inline-block;
  line-height: 80px;
	list-style: none;
  transition: background .5s;
	padding-left: 10px;
	padding-right: 10px;
}

.btn:hover, .nav ul li:hover {
	background: #117bff;
	cursor: pointer;
	transition: background .5s;
}


.main .container {
	margin: 80px auto;
}

.main img {
  width: 192px;
	height: 128px;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 80px;
	margin-left: 0px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/cloud.svg);

}




.jumbotron {
	background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg) no-repeat center center;
  background-size: cover;
  height: 600px;

}

.jumbotron .container {
	position: relative;
	top: 220px;
}

.jumbotron h2 {
	color: white;
	text-align: right;
}

.jumbotron p {
	color: white;
	text-align: right;
}

.jumbotron .btn {
	color: white;
	float: right;
}


.footer {
	background-color: black;
	height: 80px;
}

.footer p {
	color: white;
	font-size: 14px;
	line-height: 80px;
}
/* Media Queries */
@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}
