html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
}


/* Header */
.header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg);/* 배경화면은 여기 */
	background-size: cover;
	background-repeat: no-repeat;
  height: 800px;
  text-align: center;
}

.header .container {
	position: relative;
	top: 200px;
}

.header h1 {
  color: white;/* 이거 색깔이? */

	font-size: 80px;
	line-height: 100px;
	margin-top: 0;
	margin-bottom: 80px;
}

@media (min-width:850px) {
	.header h1 {
		font-size: 120px;
	}
}

.header p {
  color: white;/* 여기도 색깔이? */

	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
}

.btn {
  color: white;/* 버튼 스타일 여기! */
  background-color: black;
	padding-left: 40px;
	padding-top: 10px;
	padding-right: 40px;
	padding-bottom: 10px;
	transition: background .5s;

}

/* Nav */
.nav {
  background-color: black;
	/* 네비게이션 스타일 */

}

.nav ul {
  height: 80px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.nav ul li {
  color: white;
	display:inline-block;
	line-height: 80px;
	padding-left: 10px;
	padding-right: 10px;* 네비게이션 리스트 아이템 스타일 */
	list-style: none;
  transition: background .5s;
}

.btn:hover, .nav ul li:hover {
	background: #117bff;
	cursor: pointer;
	transition: background .5s;
}

/* Main */
.main .container {
	margin: 80px auto;
}

.main img {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/cloud.svg);
	width: 192px;
	height: 128px;
	float: left;
	margin-left: 0px;
	margin-top: 50px;
	margin-rjght: 80px;
	margin-bottom: 50px;/* 이미지 스타일 */
}

/* Jumbotron */
.jumbotron {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg);/* 점보트론 배경사진 */
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

.jumbotron .container {
	position: relative;
	top: 220px;
}

.jumbotron h2 {
	color: white;
	text-align: right;
}/* 여기 점보트론의 h2, p, btn에 스타일을 적용합니다. */
.jumbotron p {
	color: white;
	text-align: right;
}
.jumbotron .btn {
	color: white;
	float: right;
}

.footer {
	background-color: black;
	font-size: 80px;
	}/* 여기엔 footer의 스타일을 적용합니다. */

.footer p {
	color: white;
	font-size: 14px;
	line-height: 80px;
}
/* Media Queries */
@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}
