html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 940px;
}

body {
   background-image: url(https://s3.amazonaws.com/codecademy-content/projects/pocketbook/bg.jpg);
   background-size: cover;
   background-repeat: no-repeat; 
   background-color: #140e07;
   color: white;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}
 
.header .container {
    padding: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.main {
    margin-bottom: 80px;
    margin-top: 80px;
}

.main h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.main .btn {
    margin-top: 30px;
    color: white;
    background-color: rgba(0,240,190,0.25);
    border: 0px;
    border-radius: 0px;
}

.footer .container {
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}

.footer ul {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
}

.footer li {
    display: inline;
    margin-right: 20px;
}

