html, body {
  margin: 0;
  padding: 0;
  background-color: #161718;
 color: white;
    
}
.container {
  max-width: 1000px;
  
}

.jumbotron {
    height: 560px;
    background-image: url(https://s3.amazonaws.com/codecademy-content/projects/bass/bg.jpg);
}

.header a {
    color: white;
    padding: 15px;
    font-weight: bold; 
}

.header li {
    display: inline-block;
    margin-left: 13px;
    margin-top: 40px;
}

.header .btn {
    border: none;
    border-radius: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ff003d;
}

.main h1 {
    margin-top: 60px;
}

.supporting-1 {
    padding-bottom: 70px;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.supporting-2 {
    padding-bottom: 70px;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
}

.supporting-3 {
    padding-bottom: 70px;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.supporting-4 {
    padding-bottom: 70px;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    height: 400px;
    background-image: url(https://s3.amazonaws.com/codecademy-content/projects/bass/feature.jpg);
}

.supporting-4 h2 {
    margin-top: 80px;
}

.footer {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer h3 {
    font-size: 15px;
}

.footer ul {
    padding: 0px;
    list-style: none;
}

.footer a {
    color: #aaa;
    font-size: 13px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
}