/* 여기서 작성하시면 됩니다. */

/* 얘는 배경화면 색깔입니다. 건들지 않아도 되요. */
body {
  background-color: #e451e3;
}

p {
  color: red;
  }

h1 {
  color: green;
  }

h2 {
  color: #e24e4d;
  }

h3 {
  font-family: Verdana;
  }
   {
  font-size: 16px;
  }
   {
  color: white;
  }

.underline {text-decoration: underline; }
.bold {font-weight: bold; }
.strike {text-decoration: line-through; }

/* (7) 선그어 지우기 */
