html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.nav-pills li a {
  color: #d8192f;
  border: 1px solid #d8192f;
  margin-left: 10px;
  text-align: center;
  width: 100px;
}

.nav-pills li.active a:hover {
  background-color: #d8192f;
}

.jumbotron {
  height: 500px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg);
}

.banner {
  background-color: #36343f;
  height: 180px;
  color: #fff;
}

.section {
  text-align: center;
  padding-top: 40px;
}

.nav-pills li.active a,
.section .btn:hover,
.nav-pills li a:hover {
  background-color: rgba(216, 25, 47, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  color: #fff;
}

@media (max-width: 680px) {
  .header h1 {
    margin-bottom: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  .nav {
    float: right;
    margin: 0 auto;
  }
  .banner {
    height: 220px;
  }
  .nav-pills li:first-child a {
    margin-left: 0;
  }
}

.header {
  padding: 40px;  
}

.jumbotron h2 {
  color: white;
  font-size: 60px;
  text-align: right;
  margin: 0px;
    
}

.btn {
  background-color: rgba(216, 25, 47, .5);
  border: 0px;
  color: white;
  margin-bottom: 24px; 
    
}

.section h4 {
  color: #d8192f;
  margin-left: 0px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 20px;
    
}

.scetion ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0px;
    
}

.footer {
  height: 100px;
  padding-left: 0px;
  padding-top: 40px;
  padding-right: 0px;
  padding-bottom: 100px;
  margin-top: 80px;
  background-color: #eee;
  font-size: 14px;
    
}

.one {
  text-align: left;
}

.two {
  text-align: center;
  color: #d8192f;
}

.three {
  text-align: right;
}




