html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.btn {
  background-color: #4386fc;
  font-size: 16px;
  font-weight: 300;
  padding-left: 26px;
  padding-top: 16px;
  padding-right: 26px;
  padding-bottom: 16px;
  text-decoration: none;
}

.video-section {
  position: relative
}

.video-section video {
  width: 100%;
}

.video-section .section-content {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  color: #fff;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.video-section h1 {
  font-size: 50px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
  color: white;
  margin-top: 0px;
  margin-bottom: 50px;
}

.text-section {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 130px
}

.text-section h2 {
  font-size: 48px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 40px;

}

.text-section p {
  color: #333;
  font-size: 21px;
  padding: 0 30px;
}

.app {

}

.feature-section {
  height: 500px
  background-img: url(https://s3.amazonaws.com/codecademy-content/projects/excursion/camp.png);

}

.footer {
  background-color: #eee;
  font-size: 11px;
  padding-left: 0px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
}

@media (max-width: 960px) {
  .video-section {
    height: 540px;
  }
  .video-section video {
    height: 540px;
    width: 960px;
  }
  .video-section h1 {
    font-size: 32px;
  }
}
