html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
    background: url(https://s3.amazonaws.com/codecademy-content/projects/armando-perez/brand.jpg) no-repeat fixed;
    background-size: 100%;
}

.header {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    color: #444;
}

.footer {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    color: #444;
}

.header h1 {
    color: white;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 30px;
    
}

.header ul {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    list-style: none;
}

.footer ul {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    list-style: none;
}

.header li {
    display: inline;
    width: 100px;
    text-align: center;
    margin: 6px;
}

.header li a {
    color: #f01251;
}

.header .active a {
    background-color: #f01251;
}

.main {
    margin-bottom: 30px;
}

.thumbnail {
    padding: 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);`
    border-radius: 0px;
    border: 0px;
}

.thumbnail img {
    width: 100%;
    display: block;
}

.footer li {
    display: inline;
    margin-right: 40px;
}

.footer p {
    margin-right: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
}