* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  text-transform: uppercase;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/* Main */
.main {
  height: 600px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg);
  background-size: cover;
    
  padding-top: 100px;
}

.main h1 {
  font-size: 150px;
  color: white;
  margin: 0px;
}

.main p {
  font-size: 18px;
  color: white;
}

.main .btn {
  background-color: #1c1c1c;
  color: white;
  font-size: 18px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;

}

/* Supporting */
.supporting {
  text-align: center;
  padding: 50px 0 80px;
  background-color: #1c1c1c;
  padding-bottom: 200px;
  
}

.supporting .col {
  float: left;
  width: 28%;
  padding: 10px;
}

.supporting h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */
.feature {
  height: 600px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg);
  background-size: cover;
}

.feature h2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding: 50px 0 0;
}

/* Footer */
.footer {
  height: 600px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg);
  background-size: cover;
}

.footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding:50px 0 0;
}

.footer p {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 18px;
}

.footer .btn {
  background-color: #1c1c1c;
  color: white;
  font-size: 18px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  
}


@media (min-width:600px) {
  .main h1 {
    font-size: 200px;
  }

  .supporting .col {
    width: 30%;
  }

  .supporting h2 {
    font-size: 40px;
  }

  .supporting p {
    font-size: 14px;
  }

  .feature h2 {
    font-size: 60px;
    padding-top: 200px;
  }
}

.btn:hover { 
    background-color: #ffa800;
    color: white;
}
