.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  display: inline-block;
}

.jumbotron {
  height: 500px;
  background-image: image(https://goo.gl/04j7Nn);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.jumbotron p {
  color: white;
  font-size: 20px;
}

.learn more {
  background-color: #f7f7f7;
  padding-top: 25px;
  padding-bottom: 50px
}

.learn more h3 {
  font-size: 18px;
  font-weight: bold;
}

.nav li {
  display: inline;
}

.jumbotron .container {
  position: relative;
  top: 100px;

}
